/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Web fonts. -----------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

/*-- Application stylesheets. -----------------------------------------------*/
body{ 
	background: #eee;
	font-family: 'Lato', sans-serif;
}
.header,
.content {
	padding: 0 3%;
	background: #fff;
}
.content > div {
	max-width: 1200px;
	margin: 0 auto
}
.header {
	margin-bottom: .5em;
	padding: 1em 0;
}
h1 {
	margin: 0;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: -1px;
}
h2 {
	margin: 0;
	font-size: 1.2em;
}
h3 {
	text-transform: uppercase
}
h3 span {
	display: block;
}
ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
li {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #000;
	clear: both;
	overflow: auto;
}
li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
a {
	color: #f33;
}
a:hover {
	text-decoration: none;
}
/* Header */
.header {
	text-align: center;
}

.headphones {
	background: url(../images/glyphicons_076_headphones.png) no-repeat bottom center;
	display: block;
	width: 100%;
	height: 24px;
	margin-right: .15em;
	margin-bottom: .3em;
}


/* Search Form */
.search-form {
	padding-top: 1em;
	padding-bottom: 1em;
	color: #ccc;
	font-weight: 100;
}
.search-input input {
	width: 95.5%;
	border: 1px solid #ccc;
	padding: .3em 2%;
	font-size: 1.6em;
	font-weight: 300;
	background: url(../images/glyphicons_027_search.png) no-repeat 98% center;
	border-radius: 2px;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
:-ms-input-placeholder {  
   color: #ccc;  
}
.filter-input {
	font-size: 1.2em;
	padding-top: .3em;
}
.filter-input label {
	margin-left: 3px;
	margin-right: 20px;
}
.filter-input input {
	position: relative;
	top: -3px;
	margin-left: 3px;
}


.query {
	padding-top: 1em;
	padding-bottom: 1em;
	xborder-bottom: 1px solid #ccc;
	xborder-top: 1px solid #ccc;
}

.loading {
	text-align: center;
	padding: 2em 0 8em 0;
}

.tracks {
	padding-top: 2em;
}
.track-artwork {
	width: 32%;
	float:left;
}
.track-artwork img {
	width: 100%;
	max-width: 100%;
}

.track-content {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.buttons li {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	
}

.player {
	position: relative;
}
.player iframe {
	position: relative;
	z-index: 10;
}
.loading-player {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	color: #ddd;
}

.pagination {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}