/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/
li {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #000
}