/* Element Styles
--------------------------------------------------- */
body, ul, li, p, h1, h2, h3{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "gill sans";
	font-weight: 100;
	background: #fefefe;
}
a {
	color: #999;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
	width: 100%;
	float: left;
}
h1 {
	font-size: 1.2em;
	font-weight: normal;
}
h1 span {
	font-weight: 100;
	color: #999;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
}
label {
	color: #fff;
}
form {
	text-align: center;
}
input {
	width: 50%;
	margin: 0 auto;
	padding: 10px 2%;
	border: 1px solid #ccc;
	font-family: "gill sans";
	font-size: 14px;
	font-weight: 100;
	border-radius: 3px;
}

/* Class Styles
--------------------------------------------------- */
.squeeze {
	max-width: 960px;
	width: 95%;
	margin: 0 auto;
}
.page-head {
	background: #fff;
	box-shadow: 0 0 7px rgba(0,0,0, .1);
	margin-bottom: 1em;
}
.search-bar{
	padding-top: 1em;
	padding-bottom: 1em;
}
.result-heading {
	position: relative;
	padding-bottom: .7em;
}
.col-a {
	xwidth: 30%;
	xfloat:left;
}
.col-b {
	xwidth: 66%;
	xfloat:right;
}
.loading {
	text-align: center;
	padding-top: 3em;
}
.loading img{
	width: auto;
	float: none;
}
.tracks {

}
.tracks li {
	position: relative;
	overflow: auto;
}
.user {
	top: 15%;
	left: 0;
}
.feature-track {
	position: relative;
}
.player {
	position: absolute;
	top: 3%;
	width: 96%;
	padding: 2%;
	background: rgba(0,0,0, .7);
	opacity: .2;
}
.feature-track:hover .player {
	opacity: 1;
}
.try-again {
	position: absolute;
	top: 40%;
	width: 96%;
	padding: 1em 2%;
	background: rgba(0,0,0, .7);
	font-size: 1.2em;
	line-height: 24px;
	color: #fff;
}
.try-again a {
	color: #96ECFF;
}
.btn {
	xposition: absolute;
	xpadding: .5em 6% .5em 2%;
	xbackground: rgba(0,0,0, .7);
	xfont-size: 1em;
	xcolor: rgba(255,255,255, .7);
	xtext-shadow: 0 1px 0 #000;
}
.btn:hover {
	xtext-decoration: none;
	xcolor: rgba(255,255,255, 1);
	xbackground: rgba(0,0,0, 1);
}
.show-more {
	xright: 0;
	xtop: 1px;
	xpadding: 0 2% .2em;
}

/* Media Queries
--------------------------------------------------- */
@media screen and (min-width: 500px) {
	li {
		xwidth: 46%;
		xfloat: left;
	}
}
@media screen and (min-width: 900px) {
	li {
		xwidth: 29%;
		xfloat: left;
	}
}
@media screen and (min-width: 1200px) {
	li,
	.show-more {
		xwidth: 21%;
		xfloat: left;
	}
}