body {
	padding: 0 0 2em;
	font-family: "Gill Sans";
	font-size: 1.1em;
	line-height: 1.6em;
}
a {
	color: #333;
}
.header {
	width: 100%;
	margin: 0 auto;
	padding: 0.5em 0 0.7em;
	xfont-size: .8em;
	xline-height: 1.4em;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0 -4px 30px rgba( 0, 0, 0, .05), 0 1px 0 rgba( 0, 0, 0, .05);
}
.header p,
.header h1 {
	margin: 0 auto;
	width: 100%;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 600px;
}
.header h1 {
	font-size: 1.2em;
	font-weight: 400;
}
.headphones {
	background: url(../images/glyphicons_076_headphones.png) no-repeat bottom;
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	top: .2em;
	margin-right: .15em;
}
.search,
.tracks {
	width: 90%;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 600px;
}
.search {
	padding-top: 1.5em;
}
.form-section {
	text-align: center;
}
input {
	width: 95%;
	padding: .5em 2%;
	border: 1px solid #999;
	font-weight: 100;
	border-radius: 3px;
	font-size: 1.3em;
}
.loading {
	text-align: center;
	padding-top: 3em;
}
ul.track-menu {
	list-style: none;
	padding: 0;
	width: 100%;
}
ul.track-menu li {
	display: inline-block;
	width: 3%;
	margin-left: 1%;
}
.intro {
	margin-top: 2em;
	color: #777;
}
.intro ul {
	padding-left: 1em;
}
.intro li {
	margin-bottom: .7em;
}
.show-detail {
	display: block;
	width: 100%;
	height: 20px;
	background: #ddd;
}
.show-detail:hover {
	background: #bbb;
}
.show-detail img {
	width: 100%;
	vertical-align: top;
	float: left;
	opacity: .5;
}
.show-detail:hover img{
	opacity: 1;
}
.active .show-detail {
	background: #999;
}
.artwork {
	width: 100%;
}
.detail {
	position: relative;
}
.player {
	position: absolute;
	top: 5%;
	width: 96%;
	padding: 2%;
	background: rgba(0,0,0, .7);
	opacity: 0;
	/* Firefox */
	-moz-transition-property: opacity;
	-moz-transition-duration: .3s;
	/* WebKit */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
	/* Opera */
	-o-transition-property: opacity;
	-o-transition-duration: .3s;
	/* Standard */
	transition-property: opacity;
	transition-duration: .3s;
}
.detail:hover .player {
	opacity: 1;
}
.try-again p {
	margin: 0;
}