body {
	padding: 0 0 2em;
	font-family: "Gill Sans";
	font-size: 1.1em;
	line-height: 1.6em;
}
.info {
	width: 100%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
	xfont-size: .8em;
	xline-height: 1.4em;
	border-bottom: 1px solid #eee;
}
.info p,
.info h1 {
	margin: 0 auto;
	width: 100%;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 600px;
}
.info h1 {
	font-size: 1.6em;
	font-weight: 400;
	background: url(../images/glyphicons_076_headphones.png) no-repeat left center;
}
.search,
.tracks {
	width: 90%;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 600px;
}
.search {
	padding-top: 1.5em;
}
.form-section {
	text-align: center;
}
input {
	width: 95%;
	padding: .5em 2%;
	border: 1px solid #999;
	font-weight: 100;
	border-radius: 3px;
	font-size: 1.3em;
}
.loading {
	text-align: center;
	padding-top: 3em;
}
ul {
	list-style: none;
	padding: 0;
	width: 100%;
}
li {
	display: inline-block;
	width: 3%;
	margin-left: 1%;
}
.show-detail {
	display: block;
	width: 100%;
	height: 20px;
	background: #ccc;
}
.show-detail:hover {
	background: #bbb;
}
.active .show-detail {
	background: #666;
}
.artwork {
	width: 100%;
}
.detail {
	position: relative;
}
.player {
	position: absolute;
	top: 5%;
	width: 96%;
	padding: 2%;
	background: rgba(0,0,0, .7);
	opacity: 0;
	/* Firefox */
	-moz-transition-property: opacity;
	-moz-transition-duration: .3s;
	/* WebKit */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
	/* Opera */
	-o-transition-property: opacity;
	-o-transition-duration: .3s;
	/* Standard */
	transition-property: opacity;
	transition-duration: .3s;
}
.detail:hover .player {
	opacity: 1;
}
.try-again p {
	margin: 0;
}