body {
	padding: 0;
	font-family: "Gill Sans";
	font-size: 1.4em;
	line-height: 2.0em;
}
#info {
	width: 96%;
	margin: 0 auto;
	font-size: .8em;
	line-height: 1.4em;
}
#info p {
	margin: 0;
}
#main {
	width: 96%;
	padding: 1em 2%;
	margin: 0 auto;
	max-width: 600px;
	/*
	border: 1px solid #ccc;
	box-shadow:
		-1px 1px 0 #bbb, 
		-2px 2px 0 #bbb,
		-3px 3px 0 #bbb,
		-4px 4px 0 #bbb,
		-5px 5px 0 #bbb
	;
	*/
}
input {
	width: 96%;
	padding: .5em 2%;
	border: 1px solid #ccc;
	font-weight: 100;
	border-radius: 3px;
}
.loading {
	text-align: center;
	padding-top: 3em;
}
ul {
	list-style: none;
	padding: 0;
	width: 100%;
}
li {
	display: inline-block;
	width: 3%;
	margin-left: 1%;
}
.show-detail {
	display: block;
	width: 100%;
	height: 20px;
	background: #ccc;
}
.show-detail:hover {
	background: #bbb;
}
.active .show-detail {
	background: #666;
}
.artwork {
	width: 100%;
}
.detail {
	position: relative;
}
.player {
	position: absolute;
	top: 5%;
	width: 96%;
	padding: 2%;
	background: rgba(0,0,0, .7);
	opacity: 0;
	/* Firefox */
	-moz-transition-property: opacity;
	-moz-transition-duration: .3s;
	/* WebKit */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
	/* Opera */
	-o-transition-property: opacity;
	-o-transition-duration: .3s;
	/* Standard */
	transition-property: opacity;
	transition-duration: .3s;
}
.detail:hover .player {
	opacity: 1;
}