<% if ( showIntro ) { %>
<div class="intro">
	<ul>
		<li>Grab Tracks is a tool that searches <a href="http://www.soundcloud.com">SoundCloud</a> for downloadable tracks.</li>
		<li>The idea was to make looking for tracks to download on SoundCloud a little bit more enjoyable for the digital dj type.</li>
		<li>All tracks returned are under 10 minutes.</li>
		<li>Some tracks are no longer downloadable for whatever reason; a link to the track's page will be available to check for an alternative download link.</li>
	</ul>
</div>
<% } %>
<ul class="track-menu"></ul>
<div class="detail"></div>
