<% if (track.get("artwork_url")) { %>
	<img src="<%= track.get("artwork_url") %>" class="artwork" />
<% }else{ %>
	<img src="/assets/images/white-label.jpg" class="artwork" />
<% } %>
<% if ( track.get("downloadable") == false) { %>
	<div class="try-again">
		<p>This track is no longer available for direct download.</p>
		<p>Check the <a href="<%= track.get("permalink_url") %>" data-bypass>track's page</a> for a link.</p>
	</div>
<% } %>
<div class="player">
	<iframe width="100%" height="166" scrolling="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= track.get("id") %>&auto_play=false&show_artwork=false&sharing=false&show_comments=false&show_playcount=false" frameborder="0" ></iframe>
</div>