<form class="search-form">
	<div class="form-section search-input">
		<input type="text" class="query" name="query" placeholder="<%= tracks.query || 'Search Tracks' %>" />
	</div>
	<div class="form-section filter-input">
		<input type="radio" name="length" class="track-length" id="search-tracks" value="t" checked />
		<label for="search-tracks">Tracks</label>
		<input type="radio" name="length" class="track-length" id="search-mixes" value="m" />
		<label for="search-mixes">Mixes</label>
	</div>
</form>
<% if ( tracks.query ) { %>
<div class="big-time">
	<ul class="tracks"></ul>
	<div class="pagination">
		<a href="#" class="load-more button" data-bypass>More Results</a>
	</div>
</div>
<% } %>
