<form id="search">
	<div class="form-section">
		<input type="text" class="query" name="query" placeholder="Search" />
	</div>
	<div class="form-section">
		Search for:
		<input type="radio" name="length" class="track-length" id="search-tracks" value="t" checked />
		<label for="search-tracks">Tracks</label>
		<input type="radio" name="length" class="track-length" id="search-mixes" value="m" />
		<label for="search-mixes">Mixes</label>
	</div>
</form>
<% if ( tracks.query ) { %>
<h2>Showing results for: <i><%= tracks.query %></i></h2>
<ul></ul>
<a href="#" class="load-more" data-bypass>Show More</a>
<% } %>
