<div class="track-info">
	<%= track.get("user").username %><br/> <%= track.get('title') %>
</div>
<div class="track-artwork">
	<img src="<%= track.get("artwork_url") %>" />
</div>
<div class="player">
	<iframe width="100%" height="166" scrolling="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= track.get("id") %>&auto_play=false&show_artwork=false&sharing=false&show_comments=false&show_playcount=false&download=false&buying=false" frameborder="0" ></iframe>
</div>