<div class="track-artwork">
	<img src="<%= track.get("artwork_url") %>" />
</div>
<div class="track-content">
	<div class="track-info">
		<h3>
			<span class="track-title">
				<%= track.get('title') %>
			</span>
			<span class="artist-name">
				<a href="<%= track.collection.searchType %>/<%= track.get("user").username %>"><%= track.get("user").username %></a>
			</span>
		</h3>
	</div>
	<div class="player">
		<i class="loading-player">Loading player...</i>
		<iframe width="100%" height="166" scrolling="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= track.get("id") %>&auto_play=false&show_artwork=false&sharing=false&show_comments=false&show_playcount=false&download=false&buying=false" frameborder="0" ></iframe>
	</div>
	<div class="buttons">
		<ul>
		<% if ( track.get("downloadable") == false) { %>
			<li class="try-again">
				<em>Download no longer available. Check the <a href="<%= track.get("permalink_url") %>" data-bypass>track's page</a> for a link.</em>
			</li>
		<% } else { %>
			<li>
				<a href="<%= track.get("download_url") %>" class="button download" data-bypass>Download</a>
			</li>
		<% } %>
		<% if ( track.get("purchase_url") != null) { %>
			<li>
				<li>
					<a href="<%= track.get("purchase_url") %>" class="button buy">Buy</a>
				</li>
			</li>
		</ul>
		<% } %>
	</div>
	<% if ( track.get("tag_list") != '') { %>
		<div class="tags">
			<ul class="tag-list">
				<%= track.get("tag_list") %>
			</ul>
		</div>
	<% } %>
</div>